#top {
    font-style: roboto; /*not a built in font?*/
    font-size: .9em;
    letter-spacing: -1px;
    color: rgb(37, 37, 37);
    height: 175px;
    width: max-content;
    border-style: dashed;
}

.right {
    float: right; 
}

#center {
   border-style: dashed;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   text-align: center;
}

#searchBar {
    border-style: dashed;
}