.top {
    display: inline-block;
    font-style: roboto; /*not a built in font?*/
    font-size: .9em;
    letter-spacing: -1px;
    color: rgb(37, 37, 37);
    margin-bottom: 165px;
    width: 100%;
}

.right {
    float: right; 
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   text-align: center;
}

.bottom {    
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(233, 233, 233);
    margin-left: -10px;
}

#bottomText {
    font-size: 80%;
    color: #5f5f5f
}

#googleLogo {
    height: 120px;
}

#searchBar {
    width: 400px;
    margin-right: 35px;
}

.searchButtons {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-image: -webkit-linear-gradient(top, #f5f5f5, f1f1f1);
    border-radius: 2px;
    color: #757575;
}